body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifS;
}
h1{
  margin-bottom: 0%;
}
#item1 {
  grid-area: one;
  background-color: grey;

}

#item2 {
  grid-area: two;
  background-color: antiquewhite;
  text-align: center;
  margin: 10px;
}

#item3 {
  grid-area: three;
  background: greenyellow;
  margin: 10px;
}

.grid-container {
  display: grid;
  margin: 0 auto;
  grid-template-areas:
  'one two two two two two'
  'one three three three three three'
  ;
}